.box-head {
    height: 36px;
    width: 1046px;
    background-color: #3a3d42;
    border-bottom: solid 1px #23272a;
    display: flex;
    
    align-items: center;
}

.left-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
}